#student_form > div {
  padding: 0;
}

#student_list a {
  margin-left: 1em;
}



h2 {
  width: 50%;
  align-content: center;
  background-color: black;
  text-align: center;
  margin-top: 50%;
  margin-left: 25%;
  margin-bottom: 75px;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 50%;
  font-size: 200%;
}

.actions {
    float: right;
    transition: 0.3s;
    opacity: 0;
    margin-bottom: 0;
}

.student{
  border: 1px solid #ddd;
  height: 4rem;
  padding: .75rem, 1.25rem
  margin-bottom: -1px;
  transition: 0.15s;
}

.student:first-child a.move-up,
.student:last-child a.move-down{
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
  /*pointer-events: none;*/
}

.student.promoted {
  background-color: #FFC656;
  border-color: #FFA807;
 }

.student:hover .actions{
  opacity: 1;
}

.student .input-group{
  margin-bottom: 0;
}


 span.student-name {
   line-height: 38px;
   padding: 1px;
 }

.student input[name=studentName] {
   border: 1px solid #ccc;
   line-height:
   padding: 0;
 }
